@using VMRepo;
@using VidMedie.ViewModels;
@*@model List<Velkommen>*@

@model ForsideVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Velkommen velkommen = new Velkommen();
    velkommen = Model.velkommentext;
    Html.RenderPartial("VelkomstText", velkommen);
}

@{
    Uddannelse uddannelse = new Uddannelse();
    uddannelse = Model.uddannelsetext;
    Html.RenderPartial("UddannelsesText", uddannelse);
}
@{
    VejledningOgStotte vejledningogstotte = new VejledningOgStotte();
    vejledningogstotte = Model.Vejledningogstottetext;
    Html.RenderPartial("VejledningOgStotteText", vejledningogstotte);
}
    


@*@foreach (Velkommen v in Model)
    {



    <div class="mydiv">
        <section class="bg-grey" id="#">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Uddannelserne på VID Medie</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8 ">
                        
                        <p>
                            Uanset om du går på 3D College eller ej, tager du en uddannelse på Vid Medie, der er en del af Viden Djurs.
                            Vi har to uddannelser: Web Integrator og digital media. Begge uddannelser er erhvervsuddannelser.
                        </p>

                        <p>
                            Web Integrator tager 1 og 9 måneder og består af et grundforløb og et hovedforløb.
                            På web Integrator skal man ikke have læreplads for at komme på hovedforløbet.
                        </p>
                        <p>Digital media består af et grundforløb på 20 uger og et hovedforløb på 3 år. For at komme på hovedforløbet skal du have en læreplads. På hovedforløbet er der to specialer: Multimedie animator og multimedie Integrator. </p>
                        <p>
                            WEBit Aarhus er vores afdeling i Aarhus. Her kan man tage hovedforløbet på Webintegrator. Derudover varetages skoleundervisningen på MultimedieIntegrator også her.
                        </p>
                    </div>
                </div>
            </div>

        </section>
    </div>

    

}*@

