@model VMRepo.Uddannelse

<div class="mydiv">
    <section class="bg-grey" id="#">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Uddannelserne på VID Medie</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 ">

                    <p>
                        @Model.Info
                    </p>

                    <p>
                        @Model.Webintegrator
                    </p>
                    <p>@Model.DigitalMedia </p>
                    <p>
                        @Model.Webitaarhus
                    </p>
                </div>
            </div>
        </div>

    </section>
</div>
