@model VMRepo.UddannelsesVejledning

<div class="mydiv">
    <div class="bg-grey" id="services">
        <div class="container">
            <section class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">UDDANNELSESVEJLEDNING</h2>
                    <hr class="primary">
                    @Html.Raw(Model.UddannelsesVejledningTekst)
                    

                    <a href="#" class="btn btn-md btn-default ">LÆS MERE OM STUDIEVALG ØSTJYLLAND</a>
                    <br />
                    <br />

                    <p id="læsmeretekst">Studievalgweb.dk</p>

                    <p id="læsmeretekst" style="width:50%">På www.ug.dk kan du læse om alle uddannelser i Danmark. Du kan læse om adgangskravene og se hvor man kan tage de forskellige uddannelser.  Der er ligeledes en vejledningsfunktion under ug.dk, hvor man fx kan chatte med en vejleder www.evejledning.dk</p>

                </div>
            </section>
        </div>
    </div>
</div>
