@model VMRepo.VejledningOgStotte

<div class="mydiv">
    <section class="#" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vejledning og støtte</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="text-center">Studievejledning</h3>
                    <p>
                         @Model.Studievejledning
                    </p>

                </div>
                <div class="col-sm-6">
                    <h3 class="text-center">Speciel Pædagogisk støtte</h3>
                    <p>
                   @Model.SpecielStotte
                    </p>

                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="personmedtext">
                        <img src="img/personer/JanHøgh-110x160.png" />

                        <p>SPS-Vejleder Jan Høgh</p>
                        <p>E-mail: jan@videndjurs.dk </p>
                        <p>Tlf.: 26 29 41 46</p>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="personmedtext">
                        <img src="img/personer/AnneSindal-110x160.jpg" />
                        <p>Studievejleder Anne Sindal</p>
                        <p>E-mail: ansi@videndjurs.dk</p>
                        <p>Tlf.: 24 22 97 51</p>

                    </div>
                </div>
                <br />
                <div class="container">
                    <a href="#" class="btn btn-md btn-default">LÆS MERE OM</a>
                    <br />
                    <br />
                    <p id="læsmeretekst">SPS: <a target="_blank" href="http://spsu.dk/Ungdomsuddannelser">spsu.dk/Ungdomsdannelser</a> </p>
                    <p id="læsmeretekst">Hjælp til selvhjælp: <a target="_blank" href="http://sundung.dk/Default.aspx">sundung.dk</a></p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="mydiv">
    <section class="#" id="#">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="text-center">KONTAKTLÆREREN</h3>
                    <p>
                        Hvert hold har tilknyttet en kontaktlærer.
                        Kontaktlæreren spiller en vigtig rolle i forbindelse med trivsel og fastholdelse af elever, og holder løbende fokus på dig, og laver evalueringer og bedømmelser for at sikre dit udbytte af undervisningen.
                        Du er altid velkommen til at tage fat i din kontaktlærer, hvis du har brug for det. For bedre at kunne støtte dig i din faglige og personlige udvikling, holder din kontaktlærer flere individuelle uddannelsessamtaler med dig under uddannelsesforløbet.
                        Samtalerne finder sted ca. 1-2 gange i semesteret og indgår i skemaplanlægningen.
                        Typisk september, november, marts og maj. Fag -og timelærere afrapporterer løbende til kontaktlæreren, om den enkelte studerendes faglighed og trivsel, og kontaktlæreren tager hånd om eventuelle problemerne
                        Kontaktlæreren inddrager studievejleder og mentor når det skønnes nødvendigt.
                    </p>

                </div>
                <div class="col-sm-6">
                    <h3 class="text-center">SU OG UNGDOMSKORT</h3>
                    <p>
                        Du har ret til SU kvartalet efter du er fyldt 18 år. Hvis du har spørgsmål, eller blot skal have generel hjælp omkring din SU eller Ungdomskort, kan du kontakte SU-vejleder Bente Lund-Laursen
                    </p>
                    <div class="personmedtext">
                        <img src="img/personer/AnneSindal-110x160---Kopi.png" />
                        <p>SU-vejleder Bente Lund-Laursen</p>
                        <p>E-mail: bll@videndjurs.dk</p>
                        <p> Tlf.: 87 58 04 50</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <a href="#" class="btn btn-md btn-default">LÆS MERE OM SU & UNGKOMSKORT</a>
                <br />
                <br />
                <p id="læsmeretekst"><a target="_blank" href="http://su.dk">SU.dk</a> </p>
                <p id="læsmeretekst"><a target="_blank" href="http://videndjurs.dk/SU-4324.aspx">Videndjurs.dk</a></p>
                <p id="læsmeretekst"><a target="_blank" href="http://ungdomskort.dk">Ungdomskort.dk</a></p>
            </div>
        </div>
    </section>
</div>